<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anuncio</h1>
    <h3 th:text="${anuncio.fecha}"></h3>
      <span th:text="'Nombre: '+ ${anuncio.nombre}"></span><br>
      <span th:text="'Asunto: '+ ${anuncio.asunto}"></span><br>
      <span th:text="'Comentario: '+ ${anuncio.descripcion}"></span><br>
      <a href="inicio">Back home</a>
</body>
</html>