<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p th:if="${param.error}">Credenciales incorrectas</p>
    <p th:if="${param.logout}">Logged out</p>

    <form th:action="@{/login}" method="post">
      <label>Nombre de usuario:</label>
      <input type="text" name="username">
      <br>
      <label>Contraseña: </label>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Registrarse">
    </form>
</body>
</html>