<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriPing</title>
</head>
<body>
    <section class="beinvenida">
        <h1>Bienvenido a TripIng</h1>
        <p>Organiza tus actividades, descubre experiencias únicas y planifica cada día de tu aventura.</p>
        <form action="inicio">
            <input type="text" name="nombre" required placeholder="Introduzca su nombre">
            <input type="submit">
        </form>
    </section>
</body>
</html>