<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anuncio</h1>
      <span th:text="'Nombre: '+ ${session.lista.get(session.id).nombre}"></span><br>
      <span th:text="'Asunto: '+ ${session.lista.get(session.id).asunto}"></span><br>
      <span th:text="'Comentario: '+ ${session.lista.get(session.id).descripcion}"></span><br>
      <a href="inicio">Back home</a>
</body>
</html>