<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="anuncio" method="get">
        Nombre: <input type="text" placeholder="nombre" name="nombre" required><br>
        Asunto: <input type="text" placeholder="asunto" name="asunto" required><br>
        Cometario: <input type="text" name="com" required><br>
        <input type="submit" value="Enviar">

    </form>
</body>
</html>