<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New announcement</h1>
    <form action="insert">
        Name: <input type="text" name="nombre"><br>
        Subjet: <input type="text" name="asunto"><br>
        Comment: <input type="text" name="comen"><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>